<div class="row">
	<div class="col-md-12 text-center" style="text-align: center;">
		<h1>
			隱私權政策
		</h1> 
	</div>
	<div class="col-md-12 text-center" style="text-align: center;">
		「推寶AI」所獲得之會員個人資料，主要用於建立會員專屬帳號及後續服務開通。
		<br><br>
		除非徵得您的同意，否則我們絕對不會將您的個人資料洩漏、轉售、或與其他機構互相交換。
		<br><br>
		您也可以隨時以Email 要求更改您的個人資料，或是終止「推寶AI」的服務。
		<br><br>
		「推寶AI」取得之會員個人資料（如姓名、電話，地址等），純為會員登記之用。
		<br><br>
		「推寶AI」絕對不會提供任何有關會員個人信用卡或賬戶相關之資訊。
		<br><br>
		我們也有可能向使用者索取個人簡歷（如學歷、職業等），以優化我們的服務，使之更貼近會員需求與使用習慣。<br>
		「推寶AI」絕對尊重會員的隱私權，若您無論如何都不希望任何資料被使用歡迎來信寄到 
		並於信件中告知我們，您想完全保密您的資料。<br>
		但「推寶AI」仍有權因下列所述之需求或情況，而公開任何內容、記錄或電子通訊等資料：<br>
		(a)依法配合司法檢調機關執行法律上或公務之需求 <br>
		(b)為強制執行此「合約」、「授權合約」或「使用規定」而需要公開時 <br>
		(c)為保護「推寶AI」或其使用者或合夥人的權利。<br>
	</div>
</div>